





.header_text{
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Mooli', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-size:30px;
    color: #826fc8;
    text-align: center;
    margin-top: 10px;
}

.header_text_main{
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Mooli', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-size:10px;
    color:  #fff;
    text-align: center;
}


@media screen and (min-width: 800px) {
    .header_text_main {
        padding-left: 300px;  /* Adjust padding for medium screens */
        padding-right: 300px; /* Adjust padding for medium screens */
    }
}

@media (max-width:800px) and (min-width: 600px) {
    .header_text_main {
        padding-left: 100px; /* Adjust padding for large screens */
        padding-right: 100px; /* Adjust padding for large screens */
    }
}





* {
    padding: 0;
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
font-family: 'Mooli', sans-serif;
font-family: 'Silkscreen', sans-serif;
}


html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    transition: background-image .7s ease-in-out;
}


.shell {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(99, 99, 99, 0.8);
}


.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80px;
    margin-bottom: 30px;
}
.button2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    margin-bottom: 10px;
}


.enterbutton{
    font-size: 60px;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Mooli', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    color:white;
    margin-bottom: 5px;
    
}

.enterbutton a {
    text-decoration: none;
    color: #ffffff; 
}


.enterbutton a:hover {
    color:  #826fc8; 
}
.filterbutton a {
    text-decoration: none; 
    color: #ffffff; 
    font-size: 30px;
}


.filterbutton a:hover {
    color:  #826fc8; 
}




.prev,
.next {
    transition: transform 0.25s ease;
    z-index: 99999;
    bottom: 5px;
}


.prev i,
.next i {
    font-size: 30px;
    font-style: normal; 
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 10px #ffffff;
}



.shell_body {
    transform: scale(.8);
    padding: 8px 0 120px 0;
    display: relative;
    width: 100%;
    
}


.shell_slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: transparent;
}


.item {
    position: relative;
    float: left;
    margin: 0 20px;
}


.frame {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}


.frame:after {
    content: "";
    position: absolute;
    bottom: -10%;
    width: 100%;
    height: 60px;
    background: #ffffff1c;
    box-shadow: 0px 0px 15px 5px #ffffff1c;
    transform: rotateX(90deg) translate3d(0px, -20px, 0px);
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid #fff; /* Increase border width to include the expanded area */
    perspective: 1000px;
    transform-style: preserve-3d;
    box-sizing: border-box; /* Include border width and padding in the total width and height */
}


.box::before,
.box::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px); 
    bottom: -4px; 
    left: -4px; 
    border: 2px solid #fff; 
    box-shadow: 0px 0px 15px 5px #ffffff1c; 
    transform: rotateX(90deg) translate3d(0px, -20px, 0px);
    box-sizing: border-box; /* Include border width and padding in the total width and height */
}


.box h1,
.box span {
    color: #fff;
    transform: translateZ(20px);
}


.box h1 {
    text-shadow: 0 0 30px #826fc8;
    font-size: 40px;
}


.box span {
    position: absolute;
    bottom: 20px;
    padding: 0 25px;
    text-shadow: 0 0 10px #826fc8;
    
}


.front,
.left,
.right {
    box-shadow: 0 0 50px #ffffff;
    background-size: cover;
}


.right,
.left {
    top: 0;
    width: 60px;
    backface-visibility: hidden;
}


.left {
    left: 0;
    border-left-width: 5px;
    transform: translate3d(1px, 0, -60px) rotateY(-90deg);
    transform-origin: 0%;
}


.right {
    right: 0;
    border-right-width: 5px;
    transform: translate3d(-1px, 0, -60px) rotateY(90deg);
    transform-origin: 100%;
}



.subtitle{
    font-size: 10px;
    font-family:  'Luckiest Guy', cursive;
    font-family: 'Mooli', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    margin:3px;
    text-align: center;
}


