/* styles.css */
body {
  height: auto;
  margin-left: 100px;
  margin-right:100px;
  margin-top:10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}


section {
  display: block;
 
  text-align: center; /* 设置文本内容水平居中 */
  position: relative; /* 用于垂直居中 */
}



/* 以下是header栏 */


.box-header{
  position: fixed;
  top: 0px;
  right: 0px;
  left:0px;
  padding: 0px;
  background: rgb(247, 128, 98, 0.5 );
  width: 100%;
  height: 40px;
  display:block;
  align-items: center;
  justify-content: center;
 

}

.centered-container{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  top: 5px;
}

.item{
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 15px;
  padding-left: 30px;
  text-align: center;
}



.neon{
  font-size: 15px; 
  text-align:left;
  color: white;
  position: absolute; 
  left: 10px;
}

.neon-right {
  font-size: 15px;
  text-align: right; /* 可以保留或删除这行，取决于您想要文本如何对齐 */
  color: white;
  position: absolute; /* 如果相对于视口右对齐，使用 absolute 定位 */
  right: 10px; /* 将元素的右边缘与包含块（这里是视口）的右边缘对齐 */
}


/* 以上是header栏 */



@keyframes shine {
  0% {
      color:  rgb(240, 108, 108);
      text-shadow: none;
  }
  50% {
      color: rgb(255, 255, 255);
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  100% {
      color:  rgb(240, 108, 108);
      text-shadow: none;
  }
}

.container {
  position: relative;
  text-align: center;
}


/* 以下是responsive背景颜色 */

/* tablet layout */
@media only screen and (min-width : 0px) 
{
    body{
          /* Linear Gradient Background */
  
  background: linear-gradient(to bottom, #368e98, #ffdabd); }
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
    }
       

    /* desktop layout */
@media only screen and (min-width : 870px)
 {
    body{   /* Linear Gradient Background */
      background: linear-gradient(to bottom, #3b74be, #ffdabd);
        }
        .grid-container{
            grid-template-columns: repeat(3,1fr);
        }
}

/* 以上是responsive背景颜色 */



/* 以下是title */
.title-overlay {
  position:absolute;
  top: 200px; /* Adjust the top position as needed */
  z-index: 20; /* Ensure the title appears above the image */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:auto；
  white-space: nowrap; /* 防止文本换行 */
}


@media only screen and (min-width : 870px){
  h1 {
    color: rgb(240, 108, 108);
    font-family: 'Luckiest Guy', cursive;
    font-size: 45px;
    animation:shine 2s infinite;
    width: auto;
  }
}

@media only screen and (max-width:870px ){
  h1 {
    color: rgb(255, 255, 255);
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    animation:shine 2s infinite;
    width: auto;
  }
}


a {
  text-decoration: none;
}




/* 以下是Lina Bo Bardi, 1958 */

@media only screen and (min-width : 870px){
  .author {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
}

@media only screen and (max-width:870px ){
  .author{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: white;
  }
}


h3:hover {
  text-align: center;
  color: rgb(246, 175, 175);
}

/* 以上是Lina Bo Bardi, 1958 */

/* 以下是语言选择 */
.frame {
  text-align: center;
  text-decoration: none;
  color: rgb(255, 0, 0);
  padding: 1px;
  word-wrap: break-word;
  border: 1px solid rgb(255, 0, 0);
  font-size: 10px;
}

.lang{
  color:red;
}
/* 以上是title */


/* 以下是图片 */


.card-wrapper {
  width: auto;
  height: auto; /* 设置容器的高度 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  box-shadow: 12px 12px 12px 12px rgba(0,0,0,0.5);
  margin-bottom: 5px;
  overflow: hidden; /* 隐藏溢出的部分 */
}

.card-wrapper img {
  max-width: 100%; /* 图像最大宽度为容器宽度 */
  max-height: 100%; /* 图像最大高度为容器高度 */
  object-fit: contain; /* 保持图像的原始宽高比并适应容器 */
}


@media (max-width: 870px) {
  .card-wrapper {
  width: auto;
  height: auto; /* 设置容器的高度 */
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  box-shadow: 12px 12px 12px 12px rgba(0,0,0,0.5);
  margin-bottom: 10em;
  overflow: hidden; /* 隐藏溢出的部分 */
  }
}
/* 以上是图片 */




.box {
  position: fixed;
  top: 300px;
  right: 15px;
  padding: 2px;
  background: rgb(247, 128, 98, 0.5);
  width: 120px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-style: italic;
  font-size: 15px; 
}

.section {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align:justify;
 
}



.section_head {
  font-style: italic; 
  font-weight: bolder;
  color: rgb(41, 71, 122);
  font-size: 25px;
  text-align: center;
}

.bottom-note{
  align-items: center;
  text-align: center;
  justify-content: center;
}

.marquee-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 6vh; /* 设置容器的高度为视口高度，使其垂直居中 */
}